body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.company {
    float: left;
    padding: 15px;
}

.company h2 {
    font-size: 16px;
}

nav {
    padding-top: 25px;
    padding-right: 10px;
}

.navigation {
    list-style-type: none;
    margin: 0;

}

.navigation {
    float: right;
}

.navigation a {
    padding-right: 20px;
    color: #343a40;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.navigation {

    color: black;
    text-align: center;
    text-decoration: none;
}

header {
   
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;  

}

.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;

}


.display {
    text-align: center !important;
}

.paragragh {
    text-align: center !important;
}

.free1 {
    text-align: center !important;
}

.box1-body {
    text-align: center !important;
}

.pro1 {
    text-align: center !important;
}

.box2-body {
    text-align: center !important;
}

.enterprise1 {
    text-align: center !important;
}

.box3-body {
    text-align: center !important;
}

.footer1 {
    text-align: center !important;
}

.container {
    max-width: 960px;
    margin: 0 auto;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}

.box {
    float: left;
    width: 30%;
    border-style: solid;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    margin-right: 20px;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.box1 {


}

.button {
    background-color: dodgerblue;
    border: 1px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button {
    border-radius: 4px;
}


.box2 {

}

.box3 {

}

.pricing1 {
    max-width: 700px;
    margin: 0 auto;
    margin: right
}



  .row{
    float: left;
    width: 30%;
    margin-right: 10px;

    color: black;
    text-align: center; 
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    text-decoration : none;
    text-align: center;

}
ul {
    list-style-type: none;
}
.k{
     color: black;
    text-align: center;
    text-decoration: none;

}




.footer1 {
    padding-top: 25px;
    padding-right: 10px; max-width: 960px;
    margin: 0 auto;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}


}
footer{

}
.underline{
     border-bottom: 1px solid #111;
      max-width: 960px;
    margin: 0 auto;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);

}
h4
{
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}




h2{
    
        font-size: 3.5rem;
    font-weight: 300;
}

.month{
    font-size: 20px;
    color: #6c757d!important;

}

h1{
    font-size: 50px;
}


  











